body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
    color: green;
    font-style: italic;
}